:root{
  --main-bg-color: #354d91;
  --main-header-color: #ebeef7;;
  --main-txt-color:#55d7ff;
}
@font-face {
  font-family: aveniBlack;
  src: url("../font/275de2221d9f0c4c9257d17f5a1e4006.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--main-bg-color);
  font-family: aveniBlack;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.icon-hat {
  width: 105px;
  height: 70px;
  background: url(../img/404_Icon_Hat.svg) no-repeat;
  background-size: 100%;
  position: relative;
  left: 85px;
}
.header {
  line-height: 0.9;
  text-align: center;
  color: var(--main-header-color);
}
.title {
  display: block;
  font-size: 80px;
  letter-spacing: -3px;
}
.title span {
  position: relative;
  top: -16px;
}
.description {
  font-size: 18px;
}
.body {
  margin-top: 10px;
  color: var(--main-txt-color);
  text-align: center;
  width: 309px;
  font-size: 14px;
}
.icon-rocket {
  width: 118px;
  height: 70px;
  background: url(../img/404_Icon_Stars.svg) no-repeat;
  background-size: 100%;
  position: relative;
  left: -95px;
}
